<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.edt.debug.internal.ui.java.EGLJavaModelPresentation"
            id="org.eclipse.edt.debug.ui.presentation.java">
      </debugModelPresentation>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.edt.debug.ui.launching.EGLJavaLaunchDelegate"
            id="org.eclipse.edt.debug.ui.launching.EGLJavaMainApplication"
            modes="run, debug"
            name="%EGLJavaApplication"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/obj16/egl_launch_obj.gif"
            configTypeID="org.eclipse.edt.debug.ui.launching.EGLJavaMainApplication"
            id="org.eclipse.edt.debug.ui.launching.EGLJavaImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.edt.debug.ui.launching.EGLJavaMainApplication"
            class="org.eclipse.edt.debug.ui.launching.EGLJavaMainApplicationTabGroup"
            id="org.eclipse.edt.debug.ui.launchConfigurationTabGroup.eglJavaMainApplication">
      </launchConfigurationTabGroup>
   </extension>
   
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.edt.ide.ui.EGLEditor"
            id="org.eclipse.edt.debug.EGLEditor.BreakpointRulerActions">
         <action
               label="%AddBreakpoint.label"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               actionID="RulerDoubleClick"
               id="org.eclipse.edt.debug.ui.actions.ManageBreakpointRulerAction">
         </action>
      </editorContribution>
      <editorContribution
            id="org.eclipse.edt.debug.BinaryFileEditor.BreakpointRulerActions"
            targetID="org.eclipse.edt.ide.ui.BinaryFileEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.eclipse.edt.debug.ui.actions.ManageBinaryFileBreakpointRulerAction"
               label="%AddBreakpoint.label">
         </action>
      </editorContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
         <viewerContribution
            targetID="#EGLRulerContext"
            id="org.eclipse.edt.debug.ui.EGLEditorRulerPopupActions">
            <action
               label="%EnableBreakpoint.label"
               class="org.eclipse.edt.debug.internal.ui.actions.EGLRulerEnableDisableBreakpointActionDelegate"
               menubarPath="debug"
               id="org.eclipse.edt.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate">
            </action>
            <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               icon="icons/full/obj16/brkp_obj.gif"
               id="org.eclipse.edt.debug.ui.actions.ToggleBreakpointRulerActionDelegate"
               label="%AddBreakpoint.label"
               menubarPath="debug">
            </action>
         </viewerContribution>
         <viewerContribution
               id="org.eclipse.edt.debug.ui.BinaryFileEditorRulerPopupActions"
               targetID="#ReadOnlyEGLRulerContext">
            <action
                  class="org.eclipse.edt.debug.internal.ui.actions.EGLRulerEnableDisableBreakpointActionDelegate"
                  id="org.eclipse.edt.debug.ui.actions.BinaryEnableDisableBreakpointRulerActionDelegate"
                  label="%EnableBreakpoint.label"
                  menubarPath="debug">
            </action>
            <action
                  class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
                  icon="icons/full/obj16/brkp_obj.gif"
                  id="org.eclipse.edt.debug.ui.actions.BinaryToggleBreakpointRulerActionDelegate"
                  label="%AddBreakpoint.label"
                  menubarPath="debug">
            </action>
         </viewerContribution>
         <viewerContribution
               id="org.eclipse.edt.debug.ui.EGLEditorPopupActions"
               targetID="#EGLEditorContext">
            <visibility>
               <and>
                  <systemProperty
                        name="org.eclipse.edt.debug.ui.eglDebuggerActive"
                        value="true">
                  </systemProperty>
                  <objectClass
                        name="org.eclipse.jface.text.ITextSelection">
                  </objectClass>
               </and>
            </visibility>
            <action
                  class="org.eclipse.debug.ui.actions.RunToLineActionDelegate"
                  definitionId="org.eclipse.debug.ui.commands.RunToLine"
                  helpContextId="run_to_line_action_context"
                  icon="icons/full/elcl16/runtoline_co.gif"
                  id="org.eclipse.edt.debug.ui.actions.RunToLine"
                  label="%runToLineAction.label"
                  menubarPath="debug">
            </action>
         </viewerContribution>
   </extension>
   
   <extension point="org.eclipse.core.runtime.adapters">
         <factory 
            class="org.eclipse.edt.debug.internal.ui.actions.EGLBreakpointsAdapterFactory"
            adaptableType="org.eclipse.edt.ide.ui.editor.IEGLEditor">
            <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
            <adapter type="org.eclipse.debug.ui.actions.IRunToLineTarget"/>
         </factory>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.edt.debug.ui.launching.EGLJavaLaunchShortcut"
            description="%EGLJavaLaunchShortcut.description"
            icon="icons/full/obj16/egl_launch_obj.gif"
            id="org.eclipse.edt.debug.ui.eglJavaShortcut"
            label="%EGLJavaLaunchShortcut.label"
            modes="run, debug">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
	             <and>
	               <test property="org.eclipse.edt.debug.ui.hasJavaMainProgram" forcePluginActivation="true"/>
                   <test property="org.eclipse.edt.debug.ui.hasProjectNatures" args="org.eclipse.edt.ide.core.eglnature" forcePluginActivation="true"/>
	             </and>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
         <description
               description="%RunEGLJavaLaunchShortcut.description"
               mode="run">
         </description>
         <description
               description="%DebugEGLJavaLaunchShortcut.description"
               mode="debug">
         </description>
      </shortcut>
   </extension>
   
   <!-- Enable contextual launch -->
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
         class="" 
         adaptableType="org.eclipse.edt.ide.core.model.IEGLElement">
            <adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
      </factory>
      <factory
         class="" 
         adaptableType="org.eclipse.core.resources.IResource">
            <adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
      </factory>
   </extension>
   
   <!-- Property testers -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         class="org.eclipse.edt.debug.ui.launching.EGLLaunchableTester"
         id="org.eclipse.edt.debug.ui.eglLaunchableTester"
         namespace="org.eclipse.edt.debug.ui"
         properties="hasJavaMainProgram,hasProjectNatures"
         type="java.lang.Object"/>            
   </extension>
   
   <!-- SMAP filter -->
   <extension point="org.eclipse.ui.navigator.navigatorContent">
       <commonFilter
             activeByDefault="true"
             class="org.eclipse.edt.debug.internal.ui.java.SMAPViewerFilter"
             description="%SMAPFilterDesc"
             id="org.eclipse.edt.ide.ui.packageexplorer.filter.SMAPViewerFilter"
             name="%SMAPFilterName"
             visibleInUI="true">
       </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.edt.ide.ui.preferences"
            class="org.eclipse.edt.debug.internal.ui.BaseDebugPreferencePage"
            id="org.eclipse.edt.debug.ui.basePreferencePage"
            name="%BasePreferencePageName">
      </page>
      <page
            category="org.eclipse.edt.debug.ui.basePreferencePage"
            class="org.eclipse.edt.debug.internal.ui.java.EGLJavaDebugPreferencePage"
            id="org.eclipse.edt.debug.ui.eglJavaPreferencePage"
            name="%EGLJavaPreferencePageName">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.debug.ui.DebugView">
         <menu
               id="org.eclipse.edt.debug.ui.DebugView.eglMenu"
               label="%EGLSubMenuLabel">
            <command
                  commandId="org.eclipse.edt.debug.ui.commands.enableFilters"
                  label="%EGLSubMenuEnableFiltersLabel"
                  style="toggle">
            </command>
            <command
                  commandId="org.eclipse.edt.debug.ui.commands.configureFilters"
                  label="%EGLSubMenuConfigureFiltersLabel"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.edt.debug.internal.ui.actions.EnableFiltersAction"
            description="%EGLSubMenuEnableFiltersDescription"
            id="org.eclipse.edt.debug.ui.commands.enableFilters"
            name="%EGLSubMenuEnableFiltersLabel">
      </command>
      <command
            defaultHandler="org.eclipse.edt.debug.internal.ui.actions.ConfigureFiltersAction"
            description="%EGLSubMenuConfigureFiltersDescription"
            id="org.eclipse.edt.debug.ui.commands.configureFilters"
            name="%EGLSubMenuConfigureFiltersLabel">
      </command>
   </extension>
</plugin>
