<?xml version="1.0"?>
<?eclipse version="3.0"?>

<!-- 
	Copyright Â© 2008, 2011 IBM Corporation and others. 
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
 
	Contributors:
	IBM Corporation - initial API and implementation
-->

<plugin>
	<!-- Editor -->
	<extension point = "org.eclipse.ui.editors">
		<editor
        class="org.eclipse.edt.ide.rui.visualeditor.internal.editor.EvEditor"
        contributorClass="org.eclipse.edt.ide.rui.visualeditor.internal.editor.EvEditorActionBarContributor"
        extensions="egl"
        icon="icons/obj16/eglfile_obj.gif"
        id="org.eclipse.edt.ide.rui.visualeditor.EvEditor"
        name="%NL_EGL_Rich_UI_Editor">
     <contentTypeBinding
           contentTypeId="org.eclipse.edt.ide.rui.visualeditor.ruifile">
     </contentTypeBinding>
		</editor>
	</extension>
	
	<!-- Preference pages -->
	<extension point = "org.eclipse.ui.preferencePages">
		<page id       = "org.eclipse.edt.ide.rui.visualeditor.preferences"
			  category = "org.eclipse.edt.ide.rui.ruiPreferences"
			  name     = "%NL_Appearance"
			  class    = "org.eclipse.edt.ide.rui.visualeditor.internal.preferences.EvPreferencePage" >
		</page>
		<!-- TODO EDT bidi
		<page id       = "org.eclipse.edt.ide.rui.visualeditor.bidi.preferences"
			  category = "org.eclipse.edt.ide.rui.visualeditor.preferences"
			  name     = "%NL_Bidi_Preferences"
			  class    = "org.eclipse.edt.ide.rui.visualeditor.internal.preferences.EvPreferencePageBidi">
		</page>
		-->
	</extension>
	<extension point="org.eclipse.ui.views">
		<view
		      category="org.eclipse.edt.views"
		      class="org.eclipse.edt.ide.rui.visualeditor.internal.views.dataview.PageDataView"
		      icon="icons/obj16/pageDataView.gif"
		      id="org.eclipse.edt.ide.rui.visualeditor.views.PageDataView"
		      name="%NL_Page_Data_View">
		</view>
	</extension>
 <extension
       point="org.eclipse.core.contenttype.contentTypes">
    <content-type
          describer="org.eclipse.edt.ide.rui.visualeditor.internal.editor.RUIFileDescriber"
          file-extensions="egl"
          id="org.eclipse.edt.ide.rui.visualeditor.ruifile"
          name="Rich UI File"
          priority="normal">
    </content-type>
 </extension>
 
</plugin>
