<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="javaVariableAdapters" name="Debug Variable Adapters" schema="schema/javaVariableAdapters.exsd"/>
   
	<extension
		id="smapBuilder"
		name="%smapBuilderName"
		point="org.eclipse.core.resources.builders">
		<builder hasNature="false">
			<run class="org.eclipse.edt.debug.internal.core.java.SMAPBuilder"/>
		</builder>
	</extension>
	<extension point="org.eclipse.ui.startup">
    	<startup class="org.eclipse.edt.debug.internal.core.java.DebugTargetWrapper"/>
	</extension>
	<extension
		point="org.eclipse.edt.debug.core.javaVariableAdapters">
		<adapter class="org.eclipse.edt.debug.internal.core.java.variables.EDTVariableAdapter"/>
	</extension>
 <extension
       point="org.eclipse.debug.core.breakpoints">
    <breakpoint
          class="org.eclipse.edt.debug.core.breakpoints.EGLLineBreakpoint"
          id="eglLineBreakpoint"
          markerType="org.eclipse.edt.debug.core.eglLineBreakpointMarker"
          name="%eglLineBreakpointName">
    </breakpoint>
 </extension>
 <extension
       id="eglBreakpointMarker"
       name="%eglBreakpointMarkerName"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.debug.core.breakpointMarker">
    </super>
 </extension>
 <extension
       id="eglLineBreakpointMarker"
       name="%eglLineBreakpointMarkerName"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.edt.debug.core.eglBreakpointMarker">
    </super>
    <super
          type="org.eclipse.debug.core.lineBreakpointMarker">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension>
 <extension
       point="org.eclipse.debug.core.watchExpressionDelegates">
    <watchExpressionDelegate
          debugModel="org.eclipse.edt.debug.ui.presentation.java"
          delegateClass="org.eclipse.edt.debug.core.EGLWatchExpressionDelegate">
    </watchExpressionDelegate>
 </extension>
 <extension point="org.eclipse.debug.core.sourceContainerTypes">
	<sourceContainerType
		id="org.eclipse.edt.debug.core.sourceContainer.packageFragmentRoot"
		name="%PackageFragmentRootSourceContainerType.name"
		description="%PackageFragmentRootSourceContainerType.description"
		class="org.eclipse.edt.debug.core.EGLPackageFragmentRootSourceContainer">
	</sourceContainerType>
 </extension>
</plugin>
