<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         name="EGL IDE"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Eclipse IDE for EGL Web Developers">
         <property
               name="introTitle"
               value="Eclipse IDE for EGL Web Developers"/>
         <property
               name="introBrandingImage"
               value="product:intro-eclipse.png"/>
         <property
               name="introBrandingImageText"
       	       value="Eclipse EGL Development Tools"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Eclipse IDE for EGL Web Developers">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,220,498,20">
         </property>
         <property
               name="startupProgressRect"
               value="7,240,498,15">
         </property>
         <property
               name="windowImages"
               value="eclipse.png,edt32.gif,eclipse48.png">
         </property>
         <property
               name="buildIdLocation"
               value="303,190">
         </property>
         <property 
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources" 
               value="platform:/plugin/org.eclipse.platform/images/"> 
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="aboutText"
               value="Eclipse IDE for EGL Web Developers&#x0A;&#x0A;Version: 0.8.0&#x0A;&#x0A;(c) Copyright Eclipse contributors and others 2011, 2012.  All rights reserved.&#x0A;Visit http://www.eclipse.org/edt">
         </property>
      </product>
   </extension>
</plugin>
