<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


<!-- =============================================================================== -->
<!--                                                                                 -->
<!-- Define the EGL content type								                     -->
<!--                                                                                 -->
<!-- =============================================================================== -->
   <extension
         point="org.eclipse.core.runtime.contentTypes">
       <content-type id="egl" name="%eglContentTypeName"
       		base-type="org.eclipse.core.runtime.text"
			priority="high"			
			file-extensions="egl">
		</content-type>
   </extension>
   

<!-- =============================================================================== -->
<!--                                                                                 -->
<!-- Define the buldDescriptorLocator extension point	                             -->
<!--                                                                                 -->
<!-- =============================================================================== -->
   <extension-point id="buildDescriptorLocator" name="buildDescriptorLocator"/>
   
   
<!-- =================================================================================== -->
<!-- Extension: EGL Markers                                                             -->
<!-- =================================================================================== -->

<!-- EGL problems -->

	 <extension id="problem" point="org.eclipse.core.resources.markers" name="%eglProblemName">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="org.eclipse.core.resources.textmarker"/>
		<persistent value="true"/>
		<attribute name="ID"/>
		<attribute name="EGLisEGLMessage"/>
		<attribute name="EGPartName"/>
	</extension>

</plugin>
