<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.edt.ide.core.compilers">
    	<compiler
    		id="org.eclipse.edt.ide.compiler.edtCompiler"
    		class="org.eclipse.edt.ide.compiler.IDEEDTCompiler"
    		name="%edtCompilerName"
    		preferencePageId="org.eclipse.edt.ide.compiler.edtCompilerPreferences"
    		version="0.8.1"/>
   	</extension>
    
    <extension point="org.eclipse.edt.ide.core.generators">
		<provider
			id="org.eclipse.edt.ide.gen.JavaGenProvider"
			class="org.eclipse.edt.ide.compiler.gen.JavaGenerator"
			name="%JavaGeneratorName"
			compiler="org.eclipse.edt.ide.compiler.edtCompiler"
			version="0.8.1"
			provider="Eclipse.org"
			description="%JavaGeneratorDescription"
			language="Java"
		/>
		<provider
			id="org.eclipse.edt.ide.gen.JavaScriptGenProvider"
			class="org.eclipse.edt.ide.compiler.gen.JavaScriptGenerator"
			name="%JavaScriptGeneratorName"
			compiler="org.eclipse.edt.ide.compiler.edtCompiler"
			version="0.8.1"
			provider="Eclipse.org"
			description="%JavaScriptGeneratorDescription"
			language="JavaScript"
		/>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page
            name="%EDTCompilerPageName"
            category="org.eclipse.edt.ide.ui.compilerPreferences"
            class="org.eclipse.edt.ide.compiler.gen.ui.EDTCompilerPreferencePage"
            id="org.eclipse.edt.ide.compiler.edtCompilerPreferences">
		</page>
	</extension>
	
	<extension point="org.eclipse.edt.ide.ui.edtGeneratorTabs">  
		<generatorTab 
			generatorId="org.eclipse.edt.ide.gen.JavaGenProvider"
			class="org.eclipse.edt.ide.compiler.gen.ui.JavaGeneratorTabProvider">
		</generatorTab>
		<generatorTab 
			generatorId="org.eclipse.edt.ide.gen.JavaScriptGenProvider"
			class="org.eclipse.edt.ide.compiler.gen.ui.JavaScriptGeneratorTabProvider">
		</generatorTab>
   	</extension>
   	
   	<extension
         point="org.eclipse.edt.ide.core.GenerationContributors">
      <GenerationContributor
            class="org.eclipse.edt.gen.java.JavaCoreGenerationContributor"
            id="JavaCoreGenerationContributor">
      </GenerationContributor>
      <GenerationContributor
            class="org.eclipse.edt.gen.java.jee.JEEGenerationContributor"
            provider="org.eclipse.edt.ide.gen.JavaGenProvider"
            id="JEEGenerationContributor"
            requires="JavaCoreGenerationContributor">
      </GenerationContributor>
      <GenerationContributor
            class="org.eclipse.edt.gen.javascript.JavaScriptGenerationContributor"
            provider="org.eclipse.edt.ide.gen.JavaScriptGenProvider"
            id="JavaScriptGenerationContributor">
      </GenerationContributor>
   </extension>
</plugin>
