<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="widgetLibraryProvider" name="Widget Library Provider" schema="schema/widgetLibraryProvider.exsd"/>
<!--
***********************************************************************
Register the Preference Pages
***********************************************************************
-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		name="%RUI_Preference_Page_Name"
      		category="org.eclipse.edt.ide.ui.preferences"
      		class="org.eclipse.edt.ide.rui.internal.preferences.RUIPreferencePage"
      		id="org.eclipse.edt.ide.rui.ruiPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.edt.ide.ui.projectTemplates">
      <template
            category="org.eclipse.edt.ide.ui.projects"
            default="false"
            description="%EGLWebClientProjectDescription"
            icon="icons/templates/WebClientTemplate.gif"
            id="org.eclipse.edt.ide.ui.projects.webClient"
            name="%EGLWebClientProject"
            templateClass="org.eclipse.edt.ide.rui.internal.project.WebClientProjectTemplate"
            wizardClass="org.eclipse.edt.ide.rui.wizards.WebClientProjectTemplateWizard">
      </template>
      <template
            category="org.eclipse.edt.ide.ui.projects"
            default="false"
            description="%EGLWebClientWithServicesProjectDescription"
            icon="icons/templates/WebClientWithServicesTemplate.gif"
            id="org.eclipse.edt.ide.ui.projects.webClientWithServices"
            name="%EGLWebClientWithServicesProject"
            templateClass="org.eclipse.edt.ide.rui.internal.project.WebClientWithServicesProjectTemplate"
            wizardClass="org.eclipse.edt.ide.rui.wizards.WebClientWithServicesProjectTemplateWizard">
      </template>
      
      <template
            category="org.eclipse.edt.ide.ui.projects"
            default="false"
            description="%RUIHelloWorldProjectDescription"
            icon="icons/templates/HelloWorldTemplate.gif"
            id="org.eclipse.edt.ide.ui.projects.rui.helloworld"
            name="%RUIHelloWorldProject"
            templateClass="org.eclipse.edt.ide.rui.internal.project.HelloWorldProjectTemplate" >
      </template>
            
   </extension>
<!--                                                                                 -->
<!-- Define the widget library provider extension point                              -->
<!--                                                                                 -->
<!-- =============================================================================== -->
   <extension
         point="org.eclipse.edt.ide.rui.widgetLibraryProvider">
      <provider
            detail="%StandardWidgetLibraryDescription"
            id="org.eclipse.edt.rui.widgets_0.8.0"
            importClass="org.eclipse.edt.ide.rui.internal.project.DefaultWidgetLibraryImporter"
            libname="%StandardWidgetLibraryName"
            logo=""
            projectName="org.eclipse.edt.rui.widgets_0.8.0"
            provider="Eclipse.org"
            resourceFolder="/org.eclipse.edt.ide.ui.rui/"
            resourcePluginName="org.eclipse.edt.ide.ui.resources"
            selected="true"
            version="0.8.0">
      </provider>
      <provider
            conflictClass="org.eclipse.edt.ide.rui.internal.project.DojoConflictClass"
            detail="%DojoWidgetLibraryDescription"
            id="org.eclipse.edt.rui.dojo_0.8.0"
            importClass="org.eclipse.edt.ide.rui.internal.project.DefaultWidgetLibraryImporter"
            libname="%DojoWidgetLibraryName"
            logo="icons/dojo16_logo.png"
            projectName="org.eclipse.edt.rui.dojo_0.8.0"
            provider="Eclipse.org"
             resourceFolder="/org.eclipse.edt.ide.ui.rui/"
            resourcePluginName="org.eclipse.edt.ide.ui.resources"
            selected="false"
            version="0.8.0"
            version_desc="Dojo 1.6.1">
      </provider>
      <provider
            conflictClass="org.eclipse.edt.ide.rui.internal.project.DojoConflictClass"
            detail="%DojoWidgetLibraryDescription"
            id="org.eclipse.edt.rui.dojo.remote_0.8.0"
            importClass="org.eclipse.edt.ide.rui.internal.project.DefaultWidgetLibraryImporter"
            libname="%DojoWidgetLibraryName"
            logo="icons/dojo16_logo.png"
            projectName="org.eclipse.edt.rui.dojo.remote_0.8.0"
            provider="Eclipse.org"
            resourceFolder="/org.eclipse.edt.ide.ui.rui/"
            resourcePluginName="org.eclipse.edt.ide.ui.resources"
            selected="true"
            version="0.8.0"
            version_desc="Dojo 1.6.1 Remote">
      </provider>
   </extension>
</plugin>
