<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.edt.gen.GenerationContributors">
      <provider
            class="org.eclipse.edt.gen.java.eglx.jtopen.IBMiGenerationContributor"
            provider="org.eclipse.edt.ide.gen.JavaGenProvider"
            id="org.eclipse.edt.gen.java.eglx.jtopen.IBMiGenerationContributor">
      </provider>
   </extension>

</plugin>
