<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.edt.ide.ui.eglDDEditorBindingProvider">
      <provider id="edt.binding.ibmiconnection" description="IBM i Binding"
         bindingconfigurationClass="org.eclipse.edt.ide.jtopen.wizards.IBMiBindingConnectionConfiguration"
         bindingdetailsPageClass="org.eclipse.edt.ide.jtopen.pages.IBMiConnectionBindingDetailPage">
	      <wizardPage
	            class="org.eclipse.edt.ide.jtopen.wizards.IBMiBindingWizardPageFactory"
	            id="org.eclipse.edt.ide.jtopen.wizards.IBMiBindingWizardPage"
	            name="org.eclipse.edt.ide.ui.internal.wizards.IBMiBindingWizardPage">
	      </wizardPage>
      </provider>
   </extension>
   <extension
         point="org.eclipse.edt.debug.core.javaTypeFilters">
      <category
            defaultEnablement="true"
            defaultStepType="return"
            description="%jtopenFilterCategoryDescription"
            id="org.eclipse.edt.ide.jtopen.debug.jtopenCategory"
            name="%jtopenFilterCategoryName"
            visible="true">
      </category>
      <filter
            categoryId="org.eclipse.edt.ide.jtopen.debug.jtopenCategory"
            class="org.eclipse.edt.ide.jtopen.debug.JTOpenFilter"
            id="org.eclipse.edt.ide.jtopen.debug.jtopenFilter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.edt.ide.testserver.testServerExtension">
      <provider
            class="org.eclipse.edt.ide.jtopen.IBMiTestServerContribution">
      </provider>
   </extension>
   <extension
         point="org.eclipse.edt.ide.core.GenerationContributors">
      <GenerationContributor
            class="org.eclipse.edt.gen.java.eglx.jtopen.IBMiGenerationContributor"
            id="org.eclipse.edt.gen.java.eglx.jtopen.IBMiGenerationContributor"
            provider="org.eclipse.edt.ide.gen.JavaGenProvider">
         <runtimeContainer
               description="%runtimeContainerDescription"
               id="org.eclipse.edt.ide.jtopen.ibmiContainer"
               name="%runtimeContainerName">
            <runtimeContainerEntry
                  bundleId="org.eclipse.edt.runtime.java.jtopen"
                  bundleRoot="bin"
                  sourceBundleId="org.eclipse.edt.runtime.java.jtopen.source"
                  sourceBundleRoot="src">
            </runtimeContainerEntry>
         </runtimeContainer>
      </GenerationContributor>
   </extension>
</plugin>
