<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
	    <package 
	       uri = "http://www.eclipse.org/xmlns/edt/deployment/1.0" 
	       class = "org.eclipse.edt.ide.ui.internal.deployment.DeploymentPackage"
	       genModel = "model/egldd.genmodel" /> 
	</extension>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser 
		   type="egldd" 
		   class="org.eclipse.edt.ide.ui.internal.deployment.util.DeploymentResourceFactoryImpl" />
	</extension>
</plugin>
